<div class="wrapper">
  <div class="header">
    <h1>Angular Kanban D&D</h1>
  </div>

  <div class="container" cdkDropListGroup>
    <div class="column" *ngFor="let column of columns">
      <div class="column-header" cdkDragHandle>{{ column?.title }}</div>
      <div
        class="column-data"
        cdkDropList
        [id]="column.id"
        [cdkDropListData]="column.tasks"
        [cdkDropListConnectedTo]="columnIds"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="card" *ngFor="let task of column?.tasks" cdkDrag [cdkDragData]="task">
          <label class="title">{{ task.title }}</label>
          <span class="text">{{ task.description }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
